
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myMovementLabel" data-translate="diaryApp.movement.home.createOrEditLabel">Create or edit a Movement</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.movement.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.movement.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="diaryApp.movement.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                    ng-model="vm.movement.amount"
                    required/>
            <div ng-show="editForm.amount.$invalid">
                <p class="help-block"
                    ng-show="editForm.amount.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.amount.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="diaryApp.movement.description" for="field_description">Description</label>
                <textarea class="form-control" name="description" id="field_description"
                    ng-model="vm.movement.description" minbytes="3"></textarea>
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                   ng-show="editForm.description.$error.minbytes" data-translate="entity.validation.minbytes" translate-value-min="3">
                    This field should be at least 3.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="diaryApp.movement.date" for="field_date">Date</label>
                <div class="input-group">
                    <input id="field_date" type="text" class="form-control" name="date" datetime-picker="{{dateformat}}" ng-model="vm.movement.date" is-open="vm.datePickerOpenStatus.date"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('date')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="diaryApp.movement.movementType" for="field_movementType">Movement Type</label>
            <select class="form-control" name="movementType" ng-model="vm.movement.movementType" id="field_movementType">
                <option value="SPEND" data-translate="diaryApp.MovementType.SPEND">SPEND</option>
                <option value="ENTRY" data-translate="diaryApp.MovementType.ENTRY">ENTRY</option>
            </select>
        </div>

        <div class="form-group">
            <label data-translate="diaryApp.movement.categoryMovement" for="field_categoryMovement">Category Movement</label>
            <select class="form-control" id="field_categoryMovement" name="categoryMovement" ng-model="vm.movement.categoryMovement" ng-options="categoryMovement as categoryMovement.name for categoryMovement in vm.categorymovements | orderBy:'id' track by categoryMovement.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
