
<div>
    <h2><span data-translate="diaryApp.movement.detail.title">Movement</span> {{vm.movement.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="diaryApp.movement.amount">Amount</span></dt>
        <dd>
            <span>{{vm.movement.amount}}</span>
        </dd>
        <dt><span data-translate="diaryApp.movement.description">Description</span></dt>
        <dd>
            <span>{{vm.movement.description}}</span>
        </dd>
        <dt><span data-translate="diaryApp.movement.date">Date</span></dt>
        <dd>
            <span>{{vm.movement.date | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="diaryApp.movement.movementType">Movement Type</span></dt>
        <dd>
            <span data-translate="{{'diaryApp.MovementType.' + vm.movement.movementType}}">{{vm.movement.movementType}}</span>
        </dd>
        <dt><span data-translate="diaryApp.movement.categoryMovement">Category Movement</span></dt>
        <dd>
            <a ui-sref="category-movement-detail({id:vm.movement.categoryMovement.id})">{{vm.movement.categoryMovement.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="movement-detail.edit({id:vm.movement.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
