<div>
    <h2 data-translate="diaryApp.movement.home.title">Movements</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="movement.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="diaryApp.movement.home.createLabel">
                        Create new Movement
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'diaryApp.movement.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="diaryApp.movement.amount">Amount</span></th>
                    <th><span data-translate="diaryApp.movement.description">Description</span></th>
                    <th><span data-translate="diaryApp.movement.date">Date</span></th>
                    <th><span data-translate="diaryApp.movement.movementType">Movement Type</span></th>
                    <th><span data-translate="diaryApp.movement.categoryMovement">Category Movement</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="movement in vm.movements track by movement.id">
                    <td><a ui-sref="movement-detail({id:movement.id})">{{movement.id}}</a></td>
                    <td>{{movement.amount}}</td>
                    <td>{{movement.description}}</td>
                    <td>{{movement.date | date:'medium'}}</td>
                    <td data-translate="{{'diaryApp.MovementType.' + movement.movementType}}">{{movement.movementType}}</td>
                    <td>
                        <a ui-sref="category-movement-detail({id:movement.categoryMovement.id})">{{movement.categoryMovement.name}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="movement-detail({id:movement.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="movement.edit({id:movement.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="movement.delete({id:movement.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
