
<div>
    <h2><span data-translate="diaryApp.history.detail.title">History</span> {{vm.history.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="diaryApp.history.date">Date</span></dt>
        <dd>
            <span>{{vm.history.date | date:'medium'}}</span>
        </dd>
        <dt><span data-translate="diaryApp.history.description">Description</span></dt>
        <dd>
            <span>{{vm.history.description}}</span>
        </dd>
        <dt><span data-translate="diaryApp.history.horse">Horse</span></dt>
        <dd>
            <a ui-sref="horse-detail({id:vm.history.horse.id})">{{vm.history.horse.name}}</a>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="history-detail.edit({id:vm.history.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
