
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myHorseLabel" data-translate="diaryApp.horse.home.createOrEditLabel">Create or edit a Horse</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.horse.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.horse.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="diaryApp.horse.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.horse.name"
                    required ng-minlength="3" ng-maxlength="100"/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" data-translate="entity.validation.maxlength" translate-value-max="100">
                    This field cannot be longer than 100 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="diaryApp.horse.due" for="field_due">Due</label>
            <input type="text" class="form-control" name="due" id="field_due"
                    ng-model="vm.horse.due"
                    ng-minlength="3"/>
            <div ng-show="editForm.due.$invalid">
                <p class="help-block"
                    ng-show="editForm.due.$error.minlength" data-translate="entity.validation.minlength" translate-value-min="3">
                    This field is required to be at least 3 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="diaryApp.horse.description" for="field_description">Description</label>
                <textarea class="form-control" name="description" id="field_description"
                    ng-model="vm.horse.description" minbytes="3"></textarea>
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                   ng-show="editForm.description.$error.minbytes" data-translate="entity.validation.minbytes" translate-value-min="3">
                    This field should be at least 3.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="diaryApp.horse.sex" for="field_sex">Sex</label>
            <select class="form-control" name="sex" ng-model="vm.horse.sex" id="field_sex">
                <option value="MALE" data-translate="diaryApp.Sex.MALE">MALE</option>
                <option value="FEMALE" data-translate="diaryApp.Sex.FEMALE">FEMALE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="diaryApp.horse.birth" for="field_birth">Birth</label>
                <div class="input-group">
                    <input id="field_birth" type="text" class="form-control" name="birth" datetime-picker="{{dateformat}}" ng-model="vm.horse.birth" is-open="vm.datePickerOpenStatus.birth"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('birth')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
