
<div>
    <h2><span data-translate="diaryApp.horse.detail.title">Horse</span> {{vm.horse.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="diaryApp.horse.name">Name</span></dt>
        <dd>
            <span>{{vm.horse.name}}</span>
        </dd>
        <dt><span data-translate="diaryApp.horse.due">Due</span></dt>
        <dd>
            <span>{{vm.horse.due}}</span>
        </dd>
        <dt><span data-translate="diaryApp.horse.description">Description</span></dt>
        <dd>
            <span>{{vm.horse.description}}</span>
        </dd>
        <dt><span data-translate="diaryApp.horse.sex">Sex</span></dt>
        <dd>
            <span data-translate="{{'diaryApp.Sex.' + vm.horse.sex}}">{{vm.horse.sex}}</span>
        </dd>
        <dt><span data-translate="diaryApp.horse.birth">Birth</span></dt>
        <dd>
            <span>{{vm.horse.birth | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="horse-detail.edit({id:vm.horse.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div>
